body{
  max-width: 1400px;
  margin: auto;
  background-color: black;
  color: white;
}
.header_container{
  display: flex;
  flex-wrap: wrap;
}
.header_top_menu{
  height:8vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.header_input{
  width: 60%;
  height: 20px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid grey;
  background-color: black;
  color: white;
}

header img{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.content_center{
  height: 100%;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.left_side{
  display: flex;
  flex-wrap: nowrap;
  vertical-align: center;
  text-align: left;
  align-content: left;
  width: 50%;
}

.right_side{
    width: 50%;
    text-align: right;
    align-content: right;

}
.logo_row{
  width: 100%;
  max-width: 1400px;
  height:19vh;
  background-image: url(../../gifs/wave1.gif);
  background-size: 100% 100%;
  color: white;
  font-weight: bolder;
  font-style: italic;
}

#logo{
  font-size: 5vw;
  color: white;
}
.logo_row a{
  text-decoration: none;
}
.main_container{
  height:65vh;
}

.footer_all{
  height:8vh;
  width: 100%;
  background-color: black;
  color: white;
  border-top: 1px solid white;
}
footer a{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 600px) {
    #logo {
      font-size: 36px;

    }
}
@media only screen and (max-width: 440px) {
  .header_top_menu{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
    .left_side{
      width: 100%;
      text-align: center;
    }
    .right_side{
      width: 100%;
      text-align: center;
    }
}
